[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.11"

[scripts]
serve = "python app.py"
lint = "flake8 ."
test = "pytest"
